@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");

body {
  font-family: "Kanit", sans-serif;
}

h1 {
  font-family: "Kanit", sans-serif;
}
p {
  align-content: center;
}
.blog-text {
  color: black;
}
.product-text {
  color: blueviolet;
}
